#title h1 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    color: #363636;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
}
body {
    background-color: white;
}
p {
    margin-top: 0;
}
#place {
    display: inline-block;
    overflow-wrap: break-word;
    margin-top: 0;
}
#blinker {
    display: inline-block;
    white-space: nowrap;
    animation: blink 1s step-start infinite;
    margin-top: 0;
}
@keyframes blink {
    50% {
      opacity: 0;
    }
  }
#title {
    height: fit-content;
    margin-left: 1rem;
    overflow-wrap: break-word;
}
ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}
li {
    list-style-type: none;
    padding-left: 0.5rem;
    margin: 0;
}

input {
    margin-left: 8px;
    margin-top: 15px;
    height: 20px;
    width: 250px;
}
#textFieldsFilters {
    margin-left: 1rem;
    margin-right: 2rem;
    width: 30%;
    position: absolute;
    padding-top: 1rem;
    padding-right: 1rem;
    top:14%;
    left: 0;
    background-color: whitesmoke;
    border-radius: 2%;
    z-index: 1;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.4);
    display: flex;
    flex-wrap: wrap;
}
#filters {
    margin-left: 0.5rem;
} 
#autocomplete {
    margin-left: 1rem;
    margin-top: 0;
    height: 2rem;
    background-color: white;
    border-radius: 0.4rem;
    border: none;
    font-size: 0.8rem;
    color: gray;
}
#submit {
    border-radius: 1rem;
    border: none;
}
#destination {
    margin-left: 1rem;
    border: none;
    background-color: white;
    color: grey;
}
#routeButton {
    border-radius: 1rem;
    border: none;
    position: relative;
    left: 0.3rem;
}
.b {
    border-radius: 1rem;
    border: none;
    text-align: center;
    padding: 0.4rem 0.4rem;
}
button:hover {
    background-color: #D1D1D1;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: 300ms;
}
.selected {
    transition: 300ms;
}
.textFields {
    position: sticky;
} 
#submit {
    margin-left: 0.2rem;
    height: 1.5rem;
}
#routeButton {
    margin-left: 0.2rem;
    height: 1.5rem;
}
#map {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.fa {
    color: #FFDF50;
}
.fa-thumbs-down {
    color: red;
}
.fa-regular {
    color: grey;
}
.fa-wine-glass {
    color: purple;
}
.fa-utensils {
    color: silver;
}
.fa-compact-disc {
    color: black;
}
.fa-dollar-sign {
    color: green;
}
.fa-location-arrow {
    color: lightblue;
}
.dropdown {
display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 1rem;
}
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown a:hover {background-color: #ddd;
    font-size: 0.9rem;}

/* Show the dropdown menu on hover */
.Area:hover .dropdown {display: block;
font-size: 0.8rem;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.Area:hover .dropdown {background-color: #f1f1f1;}

#X {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: none;
    z-index: 5;
}
#Xh1 {
    font-size: 1.5rem;
    color: #E5E5E5;
}
#X:hover {
    animation: fadeIn 0.5s;
}
#Xh1:hover {
    color: #D5D5D5;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  .galleryImg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    order: 0;
    z-index: 4;
    animation: fadeIn 0.5s;
}
#gallery {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 4;
    height: 30%;
    width: 23%;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.4);
    animation: fadeIn 0.5s;
}
  #placeDetails {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s;
  }
  #placeInfo {
    position: absolute;
    width: 23%;
    padding: 1rem;
    top: 30%;
    right: 0;
    background-color: whitesmoke;
    z-index: 4;
    animation: fadeIn 0.5s;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.4);
  }
  .reviews {
    font-size: 0.86rem;
  }

  
